// Project Variables
// =================


// Colors
// ------

@color_default : #3a1e0b;


// Fonts
// -----

@font_size: 18px;
@font_path: "../../fonts/";

// Import project less
@import "mixins.less";