<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{%= title %}</title>

        <link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico">

        <link type="text/css" rel="stylesheet" href="static/css/base/normalize.css" />
        <link type="text/css" rel="stylesheet" href="static/css/base/base.css" />
        <link type="text/css" rel="stylesheet" href="static/css/base/layout.css" />
        <link type="text/css" rel="stylesheet" href="static/css/modules/modules.css" />

        <script src="static/lib/jquery/jquery.js"></script>
        <script src="static/js/initialize.js"></script>
    </head>

    <body class="index-page">
        <h1>{%= title %}</h1>
        <p>By {%= author_name %}</p>
    </body>
</html>
